@if(tileStatus(); as tileStatusData) {
<div class="tile-status-card-container">
  <div class="name-row row">
    <div class="col-12">
      <div class="tile-status-sprite">
        <sw-sprite [spritable]="tileStatusData"></sw-sprite>
      </div>

      <div class="name">
        <sw-fit-text height="44px" width="200px">
          {{ tileStatusData.name }}
        </sw-fit-text>
      </div>
    </div>
  </div>

  <div class="description-row row">
    <div class="col-12">
      <div class="description">
        {{ formattedDescription }}
      </div>
    </div>
  </div>
</div>
}