h1 {
  margin-top: 16px;
  margin-bottom: 16px;
  text-align: center;

  a {
    color: #fff !important;
  }
}

.sprite-container {
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;

  .sprite {
    margin: 4px;

    &.health-sprite {
      min-width: 200px;
    }

    &.fieldspell-sprite {
      width: 96px;
      height: 96px;
      border: 1px solid #000;
    }
  }
}

.banner-container {
  position: relative;
  min-height: 128px;

  .banner {
    position: absolute;
    left: -15px;
    width: 100vw;
    height: 100%;
  }
}
