<div class="container-fluid">

  <h1>Field Spell Examples</h1>

  <div class="sprite-container">
    <div class="sprite fieldspell-sprite" *ngFor="let spell of fieldSpells">
      <sw-field-spell [spell]="spell"></sw-field-spell>
    </div>
  </div>

  <h1>Phase Banners</h1>

  <div class="banner-container">
    <sw-phase-banner class="banner" [text]="'Player Draw'"></sw-phase-banner>
  </div>

  <h1>Error Banners</h1>

  <div class="sprite-container">
    <sw-error-banner [text]="'You do not have enough mana to do that!'"></sw-error-banner>
  </div>

  <h1>Decks</h1>

  <div class="sprite-container">
    <div class="sprite">
      <sw-deck [deck]="[{ id: '' }, { id: '' }, { id: '' }]"></sw-deck>
    </div>

    <div class="sprite">
      <sw-deck [deck]="[{ id: '' }, { id: '' }]"></sw-deck>
    </div>

    <div class="sprite">
      <sw-deck [deck]="[{ id: '' }]"></sw-deck>
    </div>

    <div class="sprite">
      <sw-deck [deck]="[]"></sw-deck>
    </div>

    <div class="sprite">
      <sw-deck [deck]="[{ id: '' }, { id: '' }, { id: '' }]" [isGlowing]="true"></sw-deck>
    </div>

    <div class="sprite">
      <sw-deck [deck]="[{ id: '' }, { id: '' }]" [isGlowing]="true"></sw-deck>
    </div>

    <div class="sprite">
      <sw-deck [deck]="[{ id: '' }]" [isGlowing]="true"></sw-deck>
    </div>

    <div class="sprite">
      <sw-deck [deck]="[]" [isGlowing]="true"></sw-deck>
    </div>
  </div>

  <h1>Hand</h1>

  <div class="sprite-container">
    <div class="sprite">
      <sw-hand
        [hand]="[{ id: '95ddca50-58dc-44c6-8c0c-9cc08b492920' }, { id: '95ddca50-58dc-44c6-8c0c-9cc08b492920' }, { id: '95ddca50-58dc-44c6-8c0c-9cc08b492920' }]"></sw-hand>
    </div>
  </div>


  <h1>Health Bars</h1>

  <div class="sprite-container">
    <div class="sprite health-sprite">
      <sw-health-bar [health]="10" [maxHealth]="10" [showHealth]="true"></sw-health-bar>
    </div>

    <div class="sprite health-sprite">
      <sw-health-bar [health]="5" [maxHealth]="10" [showHealth]="false"></sw-health-bar>
    </div>

    <div class="sprite health-sprite">
      <sw-health-bar [health]="0" [maxHealth]="10" [showHealth]="true"></sw-health-bar>
    </div>

    <div class="sprite health-sprite">
      <sw-health-bar [health]="1" [maxHealth]="10" [showHealth]="true"></sw-health-bar>
    </div>
  </div>

  <h1>Mana Bars</h1>

  <div class="sprite-container">
    <div class="sprite">
      <sw-mana-bar [mana]="0" [maxMana]="10"></sw-mana-bar>
    </div>

    <div class="sprite" [ngbTooltip]="'spending = 3'">
      <sw-mana-bar [mana]="4" [maxMana]="10" [spending]="3"></sw-mana-bar>
    </div>

    <div class="sprite" [ngbTooltip]="'isGlowing = true'">
      <sw-mana-bar [mana]="7" [maxMana]="10" [isGlowing]="true"></sw-mana-bar>
    </div>
  </div>

  <h1>Next Turn Indicators</h1>

  <div class="sprite-container">
    <div class="sprite">
      <sw-nextturn></sw-nextturn>
    </div>

    <div class="sprite" [ngbTooltip]="'isGlowing = true'">
      <sw-nextturn [isGlowing]="true"></sw-nextturn>
    </div>

    <div class="sprite" [ngbTooltip]="'isDisabled = true'">
      <sw-nextturn [isDisabled]="true"></sw-nextturn>
    </div>

    <div class="sprite" [ngbTooltip]="'isGlowing = true; isDisabled = true'">
      <sw-nextturn [isGlowing]="true" [isDisabled]="true"></sw-nextturn>
    </div>
  </div>

  <h1>Spell Card States</h1>

  <div class="sprite-container">
    <div class="sprite" [ngbTooltip]="'isUpsideDown = true; isGlowing = true'">
      <sw-spell-card [spell]="contentService.getSpell('')!" [isUpsideDown]="true" [isGlowing]="true"></sw-spell-card>
    </div>

    <div class="sprite" [ngbTooltip]="'isUpsideDown = true; isSmall = true'">
      <sw-spell-card [spell]="contentService.getSpell('')!" [isUpsideDown]="true" [isSmall]="true"></sw-spell-card>
    </div>

    <div class="sprite" [ngbTooltip]="'isSmall = true; isGlowing = true'">
      <sw-spell-card [spell]="contentService.getSpell('5346e122-4f6f-409d-9366-758b066869aa')!" [isSmall]="true"
        [isGlowing]="true"></sw-spell-card>
    </div>

    <div class="sprite" [ngbTooltip]="'hover state swap'">
      <sw-spell-card [spell]="contentService.getSpell('5346e122-4f6f-409d-9366-758b066869aa')!"
        (mouseenter)="hoverCard = true" (mouseleave)="hoverCard = false" [isSmall]="!hoverCard"
        [isUpsideDown]="!hoverCard"></sw-spell-card>
    </div>
  </div>

  <h1>Spell Cards</h1>

  <div class="sprite-container">
    @for(spell of contentService.allSpells(); track spell) {
    <div class="sprite" [ngbTooltip]="'Card: ' + spell.name">
      <sw-spell-card [spell]="spell"></sw-spell-card>
    </div>
    }
  </div>

  <h1>Element Icons</h1>

  <div class="sprite-container">
    @for(element of contentService.allElements(); track element) {
    <div class="sprite" [ngbTooltip]="'Element: ' + element">
      <sw-icon-element [element]="element" [size]="48"></sw-icon-element>
    </div>
    }
  </div>

  <h1>Stat Icons</h1>

  <div class="sprite-container">
    @for(stat of contentService.allStats(); track stat) {
    <div class="sprite" [ngbTooltip]="'Stat: ' + stat">
      <sw-icon-stat [stat]="stat" [size]="48"></sw-icon-stat>
    </div>
    }
  </div>

  <h1>Character Sprites</h1>

  <div class="sprite-container">
    <div class="sprite" *ngFor="let charId of numCharacters" [ngbTooltip]="'Id: ' + charId">
      <sw-character-sprite [sprite]="charId"></sw-character-sprite>
    </div>
  </div>

  <h1>Spell Sprites</h1>

  <div class="sprite-container">
    <div class="sprite" *ngFor="let spellId of numSpells" [ngbTooltip]="'Id: ' + spellId">
      <sw-spell-sprite [sprite]="spellId"></sw-spell-sprite>
    </div>
  </div>
</div>