<div class="container-fluid">

  <h1 id="fieldspells"><a [routerLink]="['/debug/components']" fragment="fieldspells">Field Spells</a></h1>

  <div class="sprite-container">
    @for(spell of fieldSpells; track spell.castId) {
    <div class="sprite fieldspell-sprite">
      <sw-field-spell [spell]="spell"></sw-field-spell>
    </div>
    }
  </div>

  <h1 id="phasebanners"><a [routerLink]="['/debug/components']" fragment="phasebanners">Phase Banners</a></h1>

  <div class="banner-container">
    <sw-phase-banner class="banner" [text]="'Player Draw'"></sw-phase-banner>
  </div>
  <div class="banner-container">
    <sw-phase-banner class="banner" [text]="'Player Victory'" [actions]="[bannerActions[0]]"></sw-phase-banner>
  </div>
  <div class="banner-container">
    <sw-phase-banner class="banner" [text]="'Opponent Victory'"
      [actions]="[bannerActions[0], bannerActions[1]]"></sw-phase-banner>
  </div>
  <div class="banner-container">
    <sw-phase-banner class="banner" [text]="'Lots of actions and more text'"
      [actions]="[bannerActions[0], bannerActions[1], bannerActions[2]]"></sw-phase-banner>
  </div>

  <h1 id="errorbanners"><a [routerLink]="['/debug/components']" fragment="errorbanners">Error Banners</a></h1>

  <div class="sprite-container">
    <sw-error-banner [text]="'You do not have enough mana to do that!'"></sw-error-banner>
  </div>

  <h1 id="decks"><a [routerLink]="['/debug/components']" fragment="decks">Decks</a></h1>

  <div class="sprite-container">
    <div class="sprite">
      <sw-deck [deck]="[{ id: '' }, { id: '' }, { id: '' }]"></sw-deck>
    </div>

    <div class="sprite">
      <sw-deck [deck]="[{ id: '' }, { id: '' }]"></sw-deck>
    </div>

    <div class="sprite">
      <sw-deck [deck]="[{ id: '' }]"></sw-deck>
    </div>

    <div class="sprite">
      <sw-deck [deck]="[]"></sw-deck>
    </div>

    <div class="sprite">
      <sw-deck [deck]="[{ id: '' }, { id: '' }, { id: '' }]" [isGlowing]="true"></sw-deck>
    </div>

    <div class="sprite">
      <sw-deck [deck]="[{ id: '' }, { id: '' }]" [isGlowing]="true"></sw-deck>
    </div>

    <div class="sprite">
      <sw-deck [deck]="[{ id: '' }]" [isGlowing]="true"></sw-deck>
    </div>

    <div class="sprite">
      <sw-deck [deck]="[]" [isGlowing]="true"></sw-deck>
    </div>
  </div>

  <h1 id="hand"><a [routerLink]="['/debug/components']" fragment="hand">Hand</a></h1>

  <div class="sprite-container">
    <div class="sprite">
      <sw-hand
        [hand]="[{ id: '95ddca50-58dc-44c6-8c0c-9cc08b492920' }, { id: '95ddca50-58dc-44c6-8c0c-9cc08b492920' }, { id: '95ddca50-58dc-44c6-8c0c-9cc08b492920' }]"></sw-hand>
    </div>
  </div>

  <h1 id="healthbars"><a [routerLink]="['/debug/components']" fragment="healthbars">Health Bars</a></h1>

  <div class="sprite-container">
    <div class="sprite health-sprite">
      <sw-health-bar [health]="10" [maxHealth]="10" [showHealth]="true"></sw-health-bar>
    </div>

    <div class="sprite health-sprite">
      <sw-health-bar [health]="5" [maxHealth]="10" [showHealth]="false"></sw-health-bar>
    </div>

    <div class="sprite health-sprite">
      <sw-health-bar [health]="0" [maxHealth]="10" [showHealth]="true"></sw-health-bar>
    </div>

    <div class="sprite health-sprite">
      <sw-health-bar [health]="1" [maxHealth]="10" [showHealth]="true"></sw-health-bar>
    </div>
  </div>

  <h1 id="manabars"><a [routerLink]="['/debug/components']" fragment="manabars">Mana Bars</a></h1>

  <div class="sprite-container">
    <div class="sprite">
      <sw-mana-bar [mana]="0" [maxMana]="10"></sw-mana-bar>
    </div>

    <div class="sprite" [ngbTooltip]="'spending = 3'">
      <sw-mana-bar [mana]="4" [maxMana]="10" [spending]="3"></sw-mana-bar>
    </div>

    <div class="sprite" [ngbTooltip]="'isGlowing = true'">
      <sw-mana-bar [mana]="7" [maxMana]="10" [isGlowing]="true"></sw-mana-bar>
    </div>
  </div>

  <h1 id="nextturnindicators"><a [routerLink]="['/debug/components']" fragment="nextturnindicators">Next Turn
      Indicators</a></h1>

  <div class="sprite-container">
    <div class="sprite">
      <sw-nextturn></sw-nextturn>
    </div>

    <div class="sprite" [ngbTooltip]="'isGlowing = true'">
      <sw-nextturn [isGlowing]="true"></sw-nextturn>
    </div>

    <div class="sprite" [ngbTooltip]="'isDisabled = true'">
      <sw-nextturn [isDisabled]="true"></sw-nextturn>
    </div>

    <div class="sprite" [ngbTooltip]="'isGlowing = true; isDisabled = true'">
      <sw-nextturn [isGlowing]="true" [isDisabled]="true"></sw-nextturn>
    </div>
  </div>

  <h1 id="spellcardstates"><a [routerLink]="['/debug/components']" fragment="spellcardstates">Spell Card States</a></h1>

  <div class="sprite-container">
    <div class="sprite" [ngbTooltip]="'isUpsideDown = true; isGlowing = true'">
      <sw-spell-card [spell]="getSpellById('')!" [isUpsideDown]="true" [isGlowing]="true"></sw-spell-card>
    </div>

    <div class="sprite" [ngbTooltip]="'isUpsideDown = true; isSmall = true'">
      <sw-spell-card [spell]="getSpellById('')!" [isUpsideDown]="true" [isSmall]="true"></sw-spell-card>
    </div>

    <div class="sprite" [ngbTooltip]="'isSmall = true; isGlowing = true; extraCost = 1'">
      <sw-spell-card [spell]="getSpellById('5346e122-4f6f-409d-9366-758b066869aa')!" [isSmall]="true" [isGlowing]="true"
        [extraCost]="1"></sw-spell-card>
    </div>

    <div class="sprite" [ngbTooltip]="'hover state swap'">
      <sw-spell-card [spell]="getSpellById('5346e122-4f6f-409d-9366-758b066869aa')!" (mouseenter)="hoverCard = true"
        (mouseleave)="hoverCard = false" [isSmall]="!hoverCard" [isUpsideDown]="!hoverCard"></sw-spell-card>
    </div>
  </div>

  <h1 id="tilestatuscards"><a [routerLink]="['/debug/components']" fragment="tilestatuscards">Tile Status Cards</a></h1>

  <div class="sprite-container">
    @for(status of tileStatusList; track status) {
    <div class="sprite" [ngbTooltip]="'Tile Status: ' + status.name">
      <sw-tile-status-card [tileStatus]="status"></sw-tile-status-card>
    </div>
    }
  </div>

  <h1 id="relicindicators"><a [routerLink]="['/debug/components']" fragment="relicindicators">Relic Indicators</a></h1>

  <div class="sprite-container">
    @for(relic of relicList; track relic) {
    <div class="sprite">
      <sw-relic-indicator [relic]="relic" [stacks]="relic.stackable ? 4 : 0"></sw-relic-indicator>
    </div>
    }
  </div>

  <h1 id="reliccards"><a [routerLink]="['/debug/components']" fragment="reliccards">Relic Cards</a></h1>

  <div class="sprite-container">
    @for(relic of relicList; track relic) {
    <div class="sprite" [ngbTooltip]="'Relic: ' + relic.name">
      <sw-relic-card [relic]="relic" [stacks]="relic.stackable ? 4 : 0"></sw-relic-card>
    </div>
    }
  </div>

  <h1 id="statuseffectindicators"><a [routerLink]="['/debug/components']" fragment="statuseffectindicators">Status
      Effect Indicators</a></h1>

  <div class="sprite-container">
    @for(statusEffect of statusEffectList; track statusEffect) {
    <div class="sprite">
      <sw-status-effect-indicator [statusEffect]="statusEffect" [stacks]="4"></sw-status-effect-indicator>
    </div>
    }
  </div>

  <h1 id="statuseffectcards"><a [routerLink]="['/debug/components']" fragment="statuseffectcards">Status Effect
      Cards</a></h1>

  <div class="sprite-container">
    @for(statusEffect of statusEffectList; track statusEffect) {
    <div class="sprite" [ngbTooltip]="'Status Effect: ' + statusEffect.name">
      <sw-status-effect-card [statusEffect]="statusEffect"></sw-status-effect-card>
    </div>
    }
  </div>

  <h1 id="spellcards"><a [routerLink]="['/debug/components']" fragment="spellcards">Spell Cards</a></h1>

  <div class="sprite-container">
    @for(spell of spellList; track spell) {
    <div class="sprite" [ngbTooltip]="'Card: ' + spell.name">
      <sw-spell-card [spell]="spell"></sw-spell-card>
    </div>
    }
  </div>

  <h1 id="elementcards"><a [routerLink]="['/debug/components']" fragment="elementcards">Element Cards</a></h1>

  <div class="sprite-container">
    @for(element of elementList; track element) {
    <div class="sprite" [ngbTooltip]="'Element: ' + element.key">
      <sw-element-card [element]="element"></sw-element-card>
    </div>
    }
  </div>

  <h1 id="elementicons"><a [routerLink]="['/debug/components']" fragment="elementicons">Element Icons</a></h1>

  <div class="sprite-container">
    @for(element of elementList; track element) {
    <div class="sprite" [ngbTooltip]="'Element: ' + element.key">
      <sw-sprite [spritable]="element" [size]="48"></sw-sprite>
    </div>
    }
  </div>

  <h1 id="staticons"><a [routerLink]="['/debug/components']" fragment="staticons">Stat Icons</a></h1>

  <div class="sprite-container">
    @for(stat of statList; track stat) {
    <div class="sprite" [ngbTooltip]="'Stat: ' + stat">
      <sw-icon-stat [stat]="stat" [size]="48"></sw-icon-stat>
    </div>
    }
  </div>

  <h1 id="charactersprites"><a [routerLink]="['/debug/components']" fragment="charactersprites">Character Sprites</a>
  </h1>

  <div class="sprite-container">
    @for(charId of numCharacters; track charId) {
    <div class="sprite" [ngbTooltip]="'Id: ' + charId">
      <sw-sprite [spritable]="{ sprite: charId, mod: 'default', asset: 'characters.webp' }"></sw-sprite>
    </div>
    }
  </div>

  <h1 id="spellsprites"><a [routerLink]="['/debug/components']" fragment="spellsprites">Spell Sprites</a></h1>

  <div class="sprite-container">
    @for(spellId of numSpells; track spellId) {
    <div class="sprite" [ngbTooltip]="'Id: ' + spellId">
      <sw-sprite [spritable]="{ sprite: spellId, mod: 'default', asset: 'spells.webp' }"></sw-sprite>
    </div>
    }
  </div>

  <h1 id="relicsprites"><a [routerLink]="['/debug/components']" fragment="relicsprites">Relic Sprites</a></h1>

  <div class="sprite-container">
    @for(relicId of numRelics; track relicId) {
    <div class="sprite" [ngbTooltip]="'Id: ' + relicId">
      <sw-sprite [spritable]="{ sprite: relicId, mod: 'default', asset: 'relics.webp' }"></sw-sprite>
    </div>
    }
  </div>

  <h1 id="statuseffectsprites"><a [routerLink]="['/debug/components']" fragment="statuseffectsprites">Status Effect
      Sprites</a></h1>

  <div class="sprite-container">
    @for(statusEffectId of numStatusEffects; track statusEffectId) {
    <div class="sprite" [ngbTooltip]="'Id: ' + statusEffectId">
      <sw-sprite [spritable]="{ sprite: statusEffectId, mod: 'default', asset: 'status-effects.webp' }"></sw-sprite>
    </div>
    }
  </div>
</div>