@if(relic(); as relicData) {
<div class="relic-card-container" [style.--rarity-color]="'var(--rarity-' + rarity() + ')'">
  <div class="name-row row">
    <div class="col-12">
      <div class="relic-sprite">
        <sw-sprite [sprite]="relicData.sprite" [mod]="relicData.mod" [asset]="relicData.asset"></sw-sprite>
      </div>

      <div class="name">
        <sw-fit-text height="44px" width="200px">
          {{ relicData.name }}
        </sw-fit-text>
      </div>
    </div>
  </div>

  <div class="description-row row">
    <div class="col-12">
      <div class="description">
        {{ formattedDescription }}
      </div>
    </div>
  </div>

  @if(stacks() > 0 && relicData.stackable) {
  <div class="stacks">
    <div class="stack-value">
      {{ stacks() }}
    </div>
  </div>
  }
</div>
}