.icon-container {
  cursor: pointer;

  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 1px solid #fff;
  background-color: var(--action-background-default);

  display: flex;
  justify-content: center;
  align-items: center;

  &.glowing {
    animation: glow 1s infinite alternate;
  }

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
