<div class="container">

  <div class="card bg-dark text-white">
    <div class="card-body">
      <h1 class="card-title">Test Run</h1>
      <p class="card-text">Test runs allow you to test any character against any other character.</p>
    </div>
  </div>

  <div class="card bg-dark text-white">
    <div class="card-body">
      <h1 class="card-title">Choose Your Character</h1>

      <div class="row">
        <div class="col-6">
          <div class="sprite-container">
            <div class="sprite" *ngFor="let character of characterList" (click)="playerTestCharacterId = character.id"
              [class.selected]="playerTestCharacterId === character.id" aria-hidden="true">
              <sw-character-sprite [sprite]="character.sprite"></sw-character-sprite>
            </div>
          </div>
        </div>

        <div class="col-6">
          <div *ngIf="getCharacterById(playerTestCharacterId) as character">
            <ng-container [ngTemplateOutlet]="characterDebugInfo" [ngTemplateOutletContext]="{ character: character }">
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card bg-dark text-white">
    <div class="card-body">
      <h1 class="card-title">Choose Your Opponent</h1>

      <div class="row">
        <div class="col-6">
          <div class="sprite-container">
            <div class="sprite" *ngFor="let character of characterList" (click)="enemyTestCharacterId = character.id"
              [class.selected]="enemyTestCharacterId === character.id" aria-hidden="true">
              <sw-character-sprite [sprite]="character.sprite"></sw-character-sprite>
            </div>
          </div>
        </div>

        <div class="col-6">
          <div *ngIf="getCharacterById(enemyTestCharacterId) as character">
            <ng-container [ngTemplateOutlet]="characterDebugInfo" [ngTemplateOutletContext]="{ character: character }">
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row action-row">
    <div class="col-4"></div>
    <div class="col-4">
      <div class="d-grid gap-2">
        <button class="btn btn-primary" (click)="startTestRun()"
          [disabled]="!playerTestCharacterId || !enemyTestCharacterId">Start Test Run</button>
      </div>
    </div>
    <div class="col-4"></div>
  </div>
</div>

<ng-template #spellInfo let-spell="spell">
  <strong>{{ spell.name }}</strong>
  <br>
  <em>{{ rarityName(spell.rarity) }} {{ elementName(spell.element) }} spell</em>

  <br>
  <p>{{ spell.description }}</p>

  <br>
  <div class="row">
    <div class="col-6">
      Damage
    </div>

    <div class="col-6">
      {{ spell.damage }}
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      Speed
    </div>

    <div class="col-6">
      {{ spell.speed }}
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      Mana
    </div>

    <div class="col-6">
      {{ spell.cost }}
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      Cast Time
    </div>

    <div class="col-6">
      {{ spell.castTime }}
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      Depth
    </div>

    <div class="col-6">
      {{ spell.depthMin }}-{{ spell.depthMax }}
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      Pattern
    </div>

    <div class="col-6">
      Single
    </div>
  </div>
</ng-template>

<ng-template #characterDebugInfo let-character="character">
  <div class="character">
    <div class="row">
      <div class="col-12 name">{{ character.name }}</div>
      <div class="col-12 health">{{ character.maxHealth }} HP</div>
      <div class="col-12 description">{{ character.description }}</div>
    </div>

    <div class="row">
      <div class="col-12 deck">
        Deck: {{ character.deck.name }}
      </div>

      <div class="col-12 cards">
        <div class="spell-row">
          <div class="spell-container" *ngFor="let spellId of character.deck.spells">
            <div class="spell" *ngIf="getSpellById(spellId) as spell" [ngbTooltip]="spellInfo"
              [tooltipContext]="{ spell: spell }">
              <sw-spell-sprite [sprite]="spell.sprite"></sw-spell-sprite>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>