<div class="container">

  <div class="card bg-dark text-white">
    <div class="card-body">
      <h1 class="card-title">Test Run</h1>
      <p class="card-text">Test runs allow you to test any character against any other character.</p>

      <div class="row action-row">
        <div class="col-4"></div>
        <div class="col-4">
          <div class="d-grid gap-2">
            <button class="btn btn-primary" (click)="startTestRun()"
              [disabled]="!playerTestCharacterId || !enemyTestCharacterId">Start Test Run</button>
          </div>
        </div>
        <div class="col-4"></div>
      </div>
    </div>
  </div>

  <div class="card bg-dark text-white">
    <div class="card-body">
      <h1 class="card-title">Choose Your Loadout</h1>

      <div class="row">
        <div class="col-6">
          <div class="sprite-container">
            @for(character of characterList; track $index) {
            <div class="sprite" (click)="selectPlayerCharacter(character)"
              [class.selected]="playerTestCharacterId === character.id" aria-hidden="true">
              <sw-sprite [spritable]="character"></sw-sprite>
            </div>
            }
          </div>
        </div>

        <div class="col-6">
          @if(getCharacterById(playerTestCharacterId); as character) {
          <ng-container [ngTemplateOutlet]="characterDebugInfo" [ngTemplateOutletContext]="{ character: character }">
          </ng-container>
          }
        </div>
      </div>

      <h1 class="card-title">Choose Your Relics</h1>

      <div class="sprite-container">
        @for(relic of relicList; track $index) {
        <div class="sprite" (click)="selectPlayerRelic(relic, 1)"
          (contextmenu)="selectPlayerRelic(relic, -1); $event.preventDefault()"
          [class.selected]="playerRelics[relic.id] > 0" aria-hidden="true">
          <sw-relic-indicator [relic]="relic" [stacks]="playerRelics[relic.id] || 0"></sw-relic-indicator>
        </div>
        }
      </div>
    </div>
  </div>

  <div class="card bg-dark text-white">
    <div class="card-body">
      <h1 class="card-title">Choose Your Opponent</h1>

      <div class="row">
        <div class="col-6">
          <div class="sprite-container">
            @for(character of characterList; track $index) {
            <div class="sprite" (click)="selectEnemyCharacter(character)"
              [class.selected]="enemyTestCharacterId === character.id" aria-hidden="true">
              <sw-sprite [spritable]="character"></sw-sprite>
            </div>
            }
          </div>
        </div>

        <div class="col-6">
          @if(getCharacterById(enemyTestCharacterId); as character) {
          <ng-container [ngTemplateOutlet]="characterDebugInfo" [ngTemplateOutletContext]="{ character: character }">
          </ng-container>
          }
        </div>
      </div>

      <h1 class="card-title">Choose Opponent Relics</h1>

      <div class="sprite-container">
        @for(relic of relicList; track $index) {
        <div class="sprite" (click)="selectEnemyRelic(relic, 1)"
          (contextmenu)="selectEnemyRelic(relic, -1); $event.preventDefault()"
          [class.selected]="enemyRelics[relic.id] > 0" aria-hidden="true">
          <sw-relic-indicator [relic]="relic" [stacks]="enemyRelics[relic.id] || 0"></sw-relic-indicator>
        </div>
        }
      </div>
    </div>
  </div>
</div>

<ng-template #characterDebugInfo let-character="character">
  <div class="character">
    <div class="row">
      <div class="col-12 name">{{ character.name }}</div>
      <div class="col-12 health">{{ character.maxHealth }} HP</div>
      <div class="col-12 description">{{ character.description }}</div>
    </div>

    <div class="row">
      <div class="col-12 deck">
        Deck: {{ character.deck.name }}
      </div>

      <div class="col-12 cards">
        <div class="spell-row">
          @for(spellId of character.deck.spells; track $index) {
          <div class="spell-container">
            @if(getSpellById(spellId); as spell) {
            <div class="spell">
              <sw-spell-indicator [spell]="spell"></sw-spell-indicator>
            </div>
            }
          </div>
          }
        </div>
      </div>
    </div>
  </div>
</ng-template>