:host {
  color: #fff;
}

.card {
  margin-top: 32px;
  margin-bottom: 32px;
}

h1 {
  text-align: center;
}

.sprite-container {
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;

  .sprite {
    margin: 4px;

    cursor: pointer;

    &.selected {
      outline: 2px solid #fff;
    }
  }
}

.character {
  .name {
    font-size: 2rem;
  }

  .health {
    font-style: italic;
  }

  .description {
    font-style: italic;
  }

  .deck {
    margin-top: 2em;
    font-weight: bold;
  }

  .cards {
    .spell-row {
      display: flex;
      flex-direction: row;

      flex-wrap: wrap;

      .spell {
        padding: 4px;
      }
    }
  }
}

.action-row {
  margin-top: 64px;
}
