$primary: #02498b;
$secondary: #ca19ad;
$info: #d24b27;
$success: #02a05a;
$warning: #777505;
$danger: #7e0a02;
$light: #e0d4bd;
$dark: #121710;
$health: #2e5e2e;

$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'success': $success,
  'info': $info,
  'warning': $warning,
  'danger': $danger,
  'light': $light,
  'dark': $dark,
  'health': $health,
);
