:root {
  --sprite-size: 64px;

  --icon-spellwriters: #fff;

  --rarity-common: #0b5394;
  --rarity-uncommon: #4f803a;
  --rarity-rare: #a1801e;
  --rarity-epic: #674ea7;
  --rarity-legendary: #a61c00;

  --element-fire: #b33232;
  --element-water: #4bb9b9;
  --element-earth: #47b447;
  --element-electric: #bbbb21;

  --stat-damage: #e07d7d;
  --stat-speed: #68d468;
  --stat-cost: #d46cc7;
  --stat-casttime: #717fcc;
  --stat-depth: #4adde7;
  --stat-pattern: #d3e68e;

  --play-nextturn: #fff;

  --field-effect-mud: #fff;
  --field-effect-oil: #fff;
  --field-effect-steam: #fff;
  --field-effect-burningoil: #a54040;
  --field-effect-chargedsteam: #eafc49;

  --color-player: #3893c7;
  --color-opponent: #bb3d3d;

  --field-secret-player: var(--color-player);
  --field-secret-opponent: var(--color-opponent);

  --spell-card-width: 275px;
  --spell-card-height: 400px;
  --spell-card-width-small: calc(var(--spell-card-width) / 2);
  --spell-card-height-small: calc(var(--spell-card-height) / 2);
  --spell-card-background: #133042;
  --spell-card-foreground: #fff;

  --mana-color-inactive: linear-gradient(
    45deg,
    #132c25 0%,
    #090979 35%,
    #00d4ff 100%
  );
  --mana-color-active: linear-gradient(
    45deg,
    #ffffff 0%,
    #ffffff 35%,
    #67d8ee 100%
  );
  --mana-color-spending: linear-gradient(
    45deg,
    #ffffff 0%,
    #32cb19 35%,
    #67d8ee 100%
  );

  --phase-banner-background: var(--bs-primary);
  --phase-banner-foreground: var(--bs-light);

  --phase-banner-action-background: var(--bs-secondary);
  --phase-banner-action-foreground: var(--bs-light);
}
