:root {
  --sprite-size: 64px;

  --element-fire: #b33232;
  --element-water: #4bb9b9;
  --element-earth: #47b447;
  --element-electric: #bbbb21;

  --stat-damage: #e07d7d;
  --stat-speed: #68d468;
  --stat-cost: #d46cc7;
  --stat-casttime: #717fcc;
  --stat-depth: #4adde7;
  --stat-pattern: #d3e68e;
}
