:root {
  --sprite-size: 64px;

  --icon-spellwriters: #fff;

  --rarity-common: #0b5394;
  --rarity-uncommon: #4f803a;
  --rarity-rare: #a1801e;
  --rarity-epic: #674ea7;
  --rarity-legendary: #a61c00;

  --element-fire: #b33232;
  --element-water: #4bb9b9;
  --element-earth: #47b447;
  --element-electric: #bbbb21;

  --stat-damage: #e07d7d;
  --stat-speed: #68d468;
  --stat-cost: #d46cc7;
  --stat-casttime: #717fcc;
  --stat-depth: #4adde7;
  --stat-pattern: #d3e68e;

  --spell-card-width: 275px;
  --spell-card-height: 400px;
  --spell-card-width-small: calc(var(--spell-card-width) / 2);
  --spell-card-height-small: calc(var(--spell-card-height) / 2);
}
