@font-face {
  font-family: 'TitleText';
  src: url('../assets/font/DancingScript-VariableFont_wght.ttf')
      format('truetype supports variations'),
    url('../assets/font/DancingScript-VariableFont_wght.ttf')
      format('truetype-variations');
}

@font-face {
  font-family: 'OtherText';
  src: url('../assets/font/Montserrat-VariableFont_wght.ttf')
      format('truetype supports variations'),
    url('../assets/font/Montserrat-VariableFont_wght.ttf')
      format('truetype-variations');
}
