body {
  font-family: 'OtherText', sans-serif;

  background: url(../assets/bg/splash-dark.png) no-repeat center center/cover;

  &.bright {
    background: url(../assets/bg/splash.png) no-repeat center center/cover;
  }

  overflow: hidden;
}

.root-container {
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
}

img {
  user-select: none;
}

.title {
  font-family: 'TitleText', sans-serif;
  letter-spacing: 1px;
}

.container-fluid {
  overflow-x: hidden;
}

.hidden {
  display: none;
}

.hidden-animate {
  opacity: 0;

  transition: opacity 0.2s ease-in-out;
}

.background {
  z-index: -1;
}
