body {
  font-family: var(--font);
  overflow: hidden;

  background: url(../assets/bg/splash-dark.png) no-repeat center center/cover;

  &.bright {
    background: url(../assets/bg/splash.png) no-repeat center center/cover;
  }

  --bs-font-sans-serif: var(--font);
}

svg {
  transition: fill 150ms linear;
}

img {
  user-select: none;
}

.root-container {
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
}

.title {
  font-family: 'FancyText', sans-serif;
  letter-spacing: 1px;
}

.container-fluid {
  overflow-x: hidden;
}

.hidden {
  display: none;
}

.hidden-animate {
  opacity: 0;

  transition: opacity 0.2s ease-in-out;
}

.background {
  z-index: -1;
}

.text {
  text-shadow: 1px 1px 0 var(--outline-color), -1px 1px 0 var(--outline-color),
    -1px -1px 0 var(--outline-color), 1px -1px 0 var(--outline-color);

  &.white-outline {
    --outline-color: #fff;
  }

  &.black-outline {
    --outline-color: #000;
  }
}

.btn:not(.btn-untextured) {
  background: url('../assets/bg/texture-button.png'),
    linear-gradient(to bottom, var(--bs-btn-bg), var(--bs-btn-bg));
}

.card:not(.card-untextured) {
  background: url('../assets/bg/texture-bg.png'),
    linear-gradient(to bottom, var(--bs-body-color), var(--bs-body-color)) !important;
}

.tooltip-normalize {
  --bs-tooltip-font-size: 1rem;
}

.tooltip-relic {
  --bs-tooltip-max-width: auto;
  --bs-tooltip-bg: transparent;
}

.modal {
  .modal-content {
    color: #fff;
    background: url(../assets/bg/splash-dark.png) no-repeat center center/cover;

    .modal-header {
      border-bottom: none;

      .modal-title {
        width: 100%;
        text-align: center;
      }
    }

    .modal-footer {
      border-top: none;
    }
  }
}
