<div *ngIf="debugService.isDebugPanelVisible" class="debug-panel">
  <div class="card card-dark text-light version-info rounded-0">
    <div class="card-body">
      <h5 class="card-title">
        Debug Panel

        <span class="float-end">
          <button class="btn btn-light btn-sm" (click)="debugService.toggleDebugPanel()">
            &times;
          </button>
        </span>
      </h5>

      <div class="card-text">
        <div class="row mt-1">
          <div class="col">
            <button class="btn btn-light btn-sm" (click)="debugService.toggleTilePositions()">
              {{ debugService.isTilePositionsVisible ? '☑' : '☐' }} Toggle Tile Positions
            </button>
          </div>
        </div>

        <div class="row mt-1">
          <div class="col">
            <button class="btn btn-light btn-sm" (click)="debugService.exportGameState()">
              Export GState
            </button>

            <button class="btn btn-light btn-sm ms-1" (click)="stateImporter.click()">
              Import GState
            </button>

            <input type="file" #stateImporter class="hidden" accept=".sw"
              (change)="debugService.importGameState($event)" />
          </div>
        </div>

        <div class="row mt-1">

          @if(api.debugCombatstate(); as debugState) {
          <div class="col">
            <button class="btn btn-sm" [class.btn-warning]="debugState.id" [class.btn-light]="!debugState.id"
              (click)="api.storeCurrentStateAsDebugState()">
              Save DState
            </button>

            <button class="btn btn-warning btn-sm ms-1" *ngIf="debugState.id" (click)="api.resetDebugGamestate()">
              Reset DState
            </button>
          </div>
          }
        </div>

        <div class="row mt-1">
          <div class="col">
            <button class="btn btn-health btn-sm"
              (click)="api.gainHealth({ character: api.getActivePlayerByTurnOrder({ turnOrder: 0 }), amount: -1 })">
              Pl.HP-
            </button>

            <button class="btn btn-health btn-sm ms-1"
              (click)="api.gainHealth({ character: api.getActivePlayerByTurnOrder({ turnOrder: 0 }), amount: 1 })">
              Pl.HP+
            </button>

            <button class="btn btn-mana btn-sm ms-1"
              (click)="api.gainMana({ character: api.getActivePlayerByTurnOrder({ turnOrder: 0 }), amount: -1 })">
              Pl.MP-
            </button>

            <button class="btn btn-mana btn-sm ms-1"
              (click)="api.gainMana({ character: api.getActivePlayerByTurnOrder({ turnOrder: 0 }), amount: 1 })">
              Pl.MP+
            </button>
          </div>
        </div>

        <div class="row mt-1">
          <div class="col">
            <button class="btn btn-health btn-sm"
              (click)="api.gainHealth({ character: api.getActivePlayerByTurnOrder({ turnOrder: 1 }), amount: -1 })">
              AI.HP-
            </button>

            <button class="btn btn-health btn-sm ms-1"
              (click)="api.gainHealth({ character: api.getActivePlayerByTurnOrder({ turnOrder: 1 }), amount: 1 })">
              AI.HP+
            </button>

            <button class="btn btn-mana btn-sm ms-1"
              (click)="api.gainMana({ character: api.getActivePlayerByTurnOrder({ turnOrder: 1 }), amount: -1 })">
              AI.MP-
            </button>

            <button class="btn btn-mana btn-sm ms-1"
              (click)="api.gainMana({ character: api.getActivePlayerByTurnOrder({ turnOrder: 1 }), amount: 1 })">
              AI.MP+
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>