{{ gamestate | json }}

<div class="container">
  <div class="row opponent-container">
    <div class="col-12">
      <div class="opponent">

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="play-grid">

      </div>
    </div>
  </div>

  <div class="row player-container">
    <div class="col-12">
      <div class="player">

      </div>
    </div>
  </div>

  <div class="row player-cards-container">
    <div class="col-12">
      <div class="player-cards">

      </div>
    </div>
  </div>
</div>