.field {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;

  .opponent-side,
  .player-side {
    height: 96px;
  }

  .play-grid {
    flex: 1;
    flex-grow: 1;
  }
}

.opponent-side {
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;

  .stats {
    flex: 1;

    padding: 16px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .health {
      padding-left: 8px;
    }

    .mana {
      justify-content: flex-start;
    }
  }

  .visuals {
    flex: 1;

    position: relative;

    .opponent {
      position: absolute;
      top: 64px;
      right: 128px;

      sw-character-sprite {
        transform: scale(4);
      }
    }
  }
}

.player-side {
  margin-top: 8px;

  .stats {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    padding: 16px;

    .health {
      padding-right: 8px;
    }
  }
}

.play-grid {
  display: flex;
  flex-direction: column;

  .grid-row {
    display: flex;
    flex-direction: row;
    justify-content: center;

    &.secret {
      .grid-space {
        border-color: #f00;
      }
    }

    .grid-space {
      width: 128px;
      height: 128px;
      border: 2px solid #fff;
    }
  }
}

.health {
  width: 392px;
}

.mana {
  display: flex;
  flex-direction: row;

  .mana-orb {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 4px solid #2ba3d3;
    background-color: #132c25;
    margin: 4px;

    &.active {
      background-color: #ffffff;
    }
  }
}
