.field {
  width: 100vw;
  height: 100vh;

  overflow: hidden;
  position: relative;

  .opponent-side,
  .player-side {
    height: 96px;
  }

  .play-grid {
    flex: 1;
    flex-grow: 1;
  }

  .pause {
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 100;
  }
}

.opponent-side {
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;

  .stats {
    flex: 1;

    padding: 16px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .health {
      padding-left: 8px;
    }

    .mana {
      justify-content: flex-start;
    }
  }

  .visuals {
    flex: 1;

    position: relative;

    .opponent {
      position: absolute;
      top: 64px;
      right: 176px;

      .opponent-sprite {
        transform: scale(4);
      }
    }
  }
}

.player-side {
  margin-top: 8px;
  position: absolute;
  bottom: 0;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  --float-element-baseline: 0px;
  --float-element-gap: 16px;
  --float-element-strange-offset: 200px;

  .pass {
    position: absolute;
    bottom: 100px;
    right: 24px;
  }

  .extradraw {
    position: absolute;
    bottom: 180px;
    right: 24px;
  }

  .deck {
    position: absolute;
    bottom: 100px;
    right: 144px;
  }

  .hand {
    position: absolute;
    bottom: 60px;
    left: 32px;
  }

  .error-banner-container {
    position: absolute;
    z-index: 10000;
    width: 100%;
    bottom: 16px;

    display: flex;
    justify-content: center;
  }

  .selected-card {
    position: absolute;
    bottom: calc(var(--float-element-baseline) + var(--spell-card-height));
    right: 72px;
  }

  .tile-info {
    z-index: 1000;

    .hover-status,
    .hover-element,
    .hover-spell {
      position: absolute;
      left: 72px;
    }

    .hover-status {
      bottom: calc(
        var(--float-element-baseline) + var(--spell-card-height) +
          var(--element-card-height) + var(--tile-status-card-height) +
          var(--float-element-gap) + var(--float-element-gap) +
          var(--float-element-strange-offset)
      );
    }

    .hover-element {
      bottom: calc(
        var(--float-element-baseline) + var(--spell-card-height) +
          var(--element-card-height) + var(--float-element-gap) +
          var(--float-element-strange-offset)
      );
    }

    .hover-spell {
      bottom: calc(var(--float-element-baseline) + var(--spell-card-height));
    }
  }

  .stats {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;

    width: 500px;

    padding: 16px;

    .health {
      padding-right: 8px;
    }
  }

  .relics {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;

    max-width: 320px;

    position: absolute;
    bottom: 818px;
    right: 16px;
  }

  .status-effects {
    display: flex;
    flex-direction: row-reverse;
    max-width: 640px;

    position: absolute;
    bottom: 16px;
    right: 436px;
  }
}

.play-grid-container {
  position: absolute;
  width: 100%;
  height: 100%;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .play-grid {
    --play-grid-size: 96px;
    --secret-area-spacing: 16px;
    --max-play-grid-rows: 9;

    --grid-height: calc(var(--max-play-grid-rows) * var(--play-grid-size));
    --secret-height: calc(var(--secret-area-spacing) * 2);

    height: calc(var(--grid-height) + var(--secret-height));
    max-height: calc(var(--grid-height) + var(--secret-height));
    margin-top: 32px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    .grid-row {
      display: flex;
      flex-direction: row;
      justify-content: center;

      &.secret {
        &.secret-player {
          margin-top: var(--secret-area-spacing);

          .grid-space {
            border-color: var(--field-secret-player);
          }
        }

        &.secret-opponent {
          margin-bottom: var(--secret-area-spacing);

          .grid-space {
            border-color: var(--field-secret-opponent);
          }
        }
      }

      .grid-space {
        width: var(--play-grid-size);
        height: var(--play-grid-size);
        border: 2px solid #fff;
        background-color: #32244c;
        color: #fff;
        position: relative;

        &.glowing {
          animation: glow 1s infinite alternate;
          cursor: pointer;
          z-index: 50;
        }

        .grid-item {
          position: absolute;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          &.status {
            z-index: 8;

            &.should-dim {
              opacity: 0.5;
            }
          }

          &.effect {
            z-index: 9;
          }

          &.spell {
            z-index: 10;
          }

          &.cast-sprite {
            opacity: 0.5;
          }
        }
      }
    }
  }
}

.stats {
  pointer-events: none;

  .health {
    width: 392px;
  }
}

.phase-banner {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100vw;
  height: 128px;

  z-index: 10000;

  &.hidden-animate {
    pointer-events: none;
  }
}

@media (max-height: 1080px) {
  .opponent {
    transform: scale(3) !important;
  }

  .play-grid {
    transform: scale(0.75);
    margin-top: -64px;
  }

  .hand {
    transform: scale(0.75);
  }

  .deck {
    transform: scale(0.75);
  }

  .pass {
    transform: scale(0.75);
    right: 74px !important;
  }

  .stats {
    transform: scale(0.75);
  }
}

@media (max-height: 800px) {
  .opponent-sprite {
    transform: scale(2) !important;
  }

  .play-grid {
    transform: scale(0.5);
    margin-top: -128px;
  }

  .hand {
    transform: scale(0.5);
  }

  .deck {
    transform: scale(0.5);
  }

  .pass {
    transform: scale(0.5);
    right: 74px !important;
  }

  .stats {
    transform: scale(0.5);
  }
}
