<div class="field">

  <sw-phase-banner class="phase-banner" [class.hidden-animate]="!phaseBannerString()" [text]="phaseBannerString()"
    [actions]="victoryActions"></sw-phase-banner>

  <div class="opponent-side">
    <div class="stats">
      <sw-health-bar class="health opponent-health" [health]="opponent.health"
        [maxHealth]="opponent.maxHealth"></sw-health-bar>

      <sw-mana-bar class="opponent-mana" [mana]="opponent.mana" [maxMana]="opponent.maxMana"
        [isGlowing]="gamephase.OpponentTurn"></sw-mana-bar>
    </div>

    <div class="visuals">
      <div class="opponent">
        <sw-character-sprite [sprite]="opponent.sprite"></sw-character-sprite>
      </div>
    </div>
  </div>

  <div class="play-grid-container">
    <div class="play-grid" [style.--play-grid-rows]="gamestate.field[0].length">

      <div class="grid-row" *ngFor="let row of gamestate.field; let gridRow = index"
        [class.secret]="isSecretPlayerTile(gridRow) || isSecretOpponentTile(gridRow)"
        [class.secret-opponent]="isSecretOpponentTile(gridRow)" [class.secret-player]="isSecretPlayerTile(gridRow)">

        <div class="grid-space" [class.glowing]="canSelectTile(gridRow, gridCol)" (click)="selectTile(gridRow, gridCol)"
          (keyup.enter)="selectTile(gridRow, gridCol)" tabindex="0" *ngFor="let col of row; let gridCol = index">

          <sw-field-spell *ngIf="col.containedSpell" [spell]="col.containedSpell"></sw-field-spell>
        </div>
      </div>
    </div>
  </div>

  <div class="player-side">
    <div class="error-banner-container">
      <sw-error-banner class="error-banner" [text]="errorMessageString()"></sw-error-banner>
    </div>

    <sw-deck class="deck" (drawCard)="drawCard()" [deck]="player.deck" [isGlowing]="gamephase.PlayerDraw"></sw-deck>

    <sw-nextturn *ngIf="gamephase.PlayerTurn" class="pass" (nextTurn)="nextTurn()" [isDisabled]="!!activeCardData"
      [isGlowing]="gamephase.PlayerTurn"></sw-nextturn>

    <sw-hand class="hand" (selectCard)="selectCard($event)" (unselectCard)="selectCard(undefined)" [hand]="player.hand"
      [selectedCard]="activeCardData" [extraCost]="player.spellsCastThisTurn"
      [highlightCastableCardCost]="gamephase.PlayerTurn ? player.mana : 0"></sw-hand>

    <sw-spell-card *ngIf="activeSpell" class="selected-card" [spell]="activeSpell" [isGlowing]="true"
      (contextmenu)="selectCard(undefined); $event.preventDefault()"></sw-spell-card>

    <div class="stats">
      <sw-health-bar class="health player-health" [health]="player.health" [maxHealth]="player.maxHealth"
        [showHealth]="true"></sw-health-bar>

      <sw-mana-bar class="player-mana" [mana]="player.mana" [maxMana]="player.maxMana"
        [isGlowing]="gamephase.PlayerTurn && !activeCardData" [spending]="activeSpell?.cost ?? 0"></sw-mana-bar>
    </div>
  </div>
</div>