.field {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;

  overflow: hidden;

  .opponent-side,
  .player-side {
    height: 96px;
  }

  .play-grid {
    flex: 1;
    flex-grow: 1;
  }
}

.opponent-side {
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;

  .stats {
    flex: 1;

    padding: 16px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .health {
      padding-left: 8px;
    }

    .mana {
      justify-content: flex-start;
    }
  }

  .visuals {
    flex: 1;

    position: relative;

    .opponent {
      position: absolute;
      top: 64px;
      right: 176px;

      sw-character-sprite {
        transform: scale(4);
      }
    }
  }
}

.player-side {
  flex: 1;
  margin-top: 8px;
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  .pass {
    position: absolute;
    bottom: 100px;
    right: 24px;
  }

  .deck {
    position: absolute;
    bottom: 100px;
    right: 144px;
  }

  .hand {
    flex: 1;

    padding: 16px;
  }

  .error-banner-container {
    position: absolute;
    z-index: 10000;
    width: 100%;
    bottom: 16px;

    display: flex;
    justify-content: center;
  }

  .selected-card {
    position: absolute;
    bottom: 388px;
    right: 72px;
  }

  .stats {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;

    width: 500px;

    padding: 16px;

    .health {
      padding-right: 8px;
    }
  }
}

.play-grid {
  --play-grid-size: 96px;
  --max-play-grid-rows: 9;

  min-height: calc(var(--max-play-grid-rows) * var(--play-grid-size));
  display: flex;
  flex-direction: column;
  justify-content: center;

  .grid-row {
    display: flex;
    flex-direction: row;
    justify-content: center;

    &.secret {
      &.secret-player {
        .grid-space {
          border-color: var(--field-secret-player);
        }
      }

      &.secret-opponent {
        .grid-space {
          border-color: var(--field-secret-opponent);
        }
      }
    }

    .grid-space {
      width: var(--play-grid-size);
      height: var(--play-grid-size);
      border: 2px solid #fff;
      background-color: #32244c;
      color: #fff;

      &.glowing {
        animation: glow 1s infinite alternate;
        cursor: pointer;
        z-index: 50;
      }
    }
  }
}

.health {
  width: 392px;
}

.phase-banner {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100vw;
  height: 96px;

  z-index: 10000;
}
