<div class="modal-header">
  <h4 class="modal-title">Pause</h4>
</div>

<div class="modal-body">
  <div class="row mb-3">
    <div class="col-3"></div>
    <div class="col-6">
      <div class="d-grid gap-2">
        <button type="button" class="btn btn-primary" (click)="continue()">Continue</button>
      </div>
    </div>
    <div class="col-3"></div>
  </div>

  <div class="row mb-3">
    <div class="col-3"></div>
    <div class="col-6">
      <div class="d-grid gap-2">
        <button type="button" class="btn btn-primary" [disabled]="true">Options</button>
      </div>
    </div>
    <div class="col-3"></div>
  </div>

  <div class="row mb-3">
    <div class="col-3"></div>
    <div class="col-6">
      <div class="d-grid gap-2">
        <button type="button" class="btn btn-primary" (click)="mainMenu()">Main Menu</button>
      </div>
    </div>
    <div class="col-3"></div>
  </div>

</div>