.container {
  height: 100vh;
  width: 100vw;

  .hero-container,
  .external-links-container,
  .news-container {
    margin-top: 32px;
  }

  .hero-container {
    .card {
      position: relative;

      .title {
        top: 40px;
        position: absolute;
        width: 100%;
        text-align: center;
        font-weight: bold;
      }

      .hello-jamspoon {
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: 0;
        font-size: 6px;
      }
    }
  }

  .external-links-container {
    .btn {
      --bs-btn-bg: #121710;
    }

    .social-icon:hover {
      --icon-color: var(--social-color);
    }
  }

  .main-menu-container {
    margin-top: 40vh;
    max-width: 30vw;
    margin-left: auto;
    margin-right: auto;
  }
}

.version-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 8px;
  font-size: 12px;
  text-align: center;
  color: var(--text-color);

  display: flex;
  justify-content: center;
  flex-direction: row;
}
