:host {
  pointer-events: none;
}

.spell-card-container {
  width: var(--spell-card-width);
  height: var(--spell-card-height);

  transition: transform 0.2s ease-in-out;
  color: var(--spell-card-foreground);
  background-color: var(--spell-card-background);

  border-width: 4px;
  border-style: solid;
  border-radius: 4px;
  border-color: var(--rarity-color);

  pointer-events: all;

  &.glowing {
    animation: glow 1s infinite alternate;
  }

  &.small {
    transform: scale(0.5);
  }

  .spell-card {
    height: 100%;
    width: 100%;
    pointer-events: none;
    user-select: none;

    &.has-back-icon {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .name {
      font-size: 1.5rem;
      font-weight: bold;
      padding: 4px;
      padding-left: 12px;

      min-height: 44px;
      max-height: 44px;

      display: flex;
      align-items: center;

      color: var(--spell-card-foreground);
      background-color: var(--element-color);
    }

    .left-side {
      .card-art {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 186px;
      }
    }

    .right-side {
      .stat-row {
        &:first-child {
          margin-top: 8px;
        }

        &:last-child {
          margin-bottom: 8px;
        }

        margin-bottom: 4px;
        color: #fff;

        .stat-value {
          display: flex;
          align-items: center;
          position: relative;

          .spell-element-damage {
            position: absolute;
            left: 24px;
            top: -20px;
          }
        }
      }
    }

    .text-container {
      display: flex;
      flex-direction: column;
      height: 157px;

      .description {
        flex: 1;

        padding: 8px;
        border-top-width: 4px;
        border-top-style: solid;
        border-top-color: var(--rarity-color);
      }

      .tags {
        text-align: center;
      }
    }
  }
}
