<div class="spell-card-container" [style.--element-color]="'var(--element-' + spellElement + ')'"
  [style.--rarity-color]="'var(--rarity-' + spellRarity + ')'" [class.small]="isSmall()" [class.glowing]="isGlowing()">

  @switch(isUpsideDown()) {
  @case (true) {
  <ng-container *ngTemplateOutlet="cardBack"></ng-container>
  }

  @case (false) {
  <ng-container *ngTemplateOutlet="cardFront; context: { spellData: spell() }"></ng-container>
  }
  }
</div>

<ng-template #cardBack>
  <div class="spell-card has-back-icon">
    <div class="spell-card-internals">
      <sw-icon category="core" name="spellwriters" [size]="128"></sw-icon>
    </div>
  </div>
</ng-template>

<ng-template #cardFront let-spellData="spellData">
  <div class="spell-card">
    <div class="spell-card-internals">
      <div class="row">
        <div class="col-12">
          <div class="name">
            <sw-fit-text height="44px" width="220px">
              {{ spellData.name }}
            </sw-fit-text>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-6 left-side">
          <div class="row">
            <div class="col-12">
              <div class="card-art">
                <sw-sprite [spritable]="spellData"></sw-sprite>
              </div>
            </div>
          </div>
        </div>

        <div class="col-6 right-side">
          @for(spellStat of spellStatsAndValues; track $index) {
          <div class="row stat-row">
            <div class="col-3">
              <sw-icon-stat [stat]="spellStat.stat"></sw-icon-stat>
            </div>

            <div class="col-9 stat-value">
              {{ spellStat.value }}

              @if(spellStat.stat === 'damage') {
              @if(spellElementData; as elementData) {
              <sw-sprite class="spell-element-damage" [spritable]="elementData" [size]="18"></sw-sprite>
              }
              }
            </div>
          </div>
          }
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="text-container">
            <div class="description">
              @if(spellData.instant) {
              <sw-icon category="stat" name="instant" [size]="16" ngbTooltip="This spell is instant."></sw-icon>
              }
              {{ spellData.description }}
            </div>

            @if(spellTags.length > 0) {
            <div class="tags">
              @for(tag of spellTags; track $index) {
              <span class="tag badge rounded-pill text-bg-info">{{ tag.name | titlecase }} ({{ tag.value }})</span>
              }
            </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>