<div class="hand-card-container">
  @for(card of hand(); track $index + card.id) {
  <div class="hand-card-position" [style.--card-index]="$index" (mouseenter)="focusHandCard($index)"
    (mouseleave)="unfocusHandCard()" (contextmenu)="unselectCardFromHand($index); $event.preventDefault()"
    (click)="selectCard.emit({ card, index: $index })" (keyup.enter)="selectCard.emit({ card, index: $index })"
    [tabindex]="$index">
    @if(getSpellById(card.id); as spell) {
    <sw-spell-card class="hand-card" [class.selected]="selectedCard()?.index === $index" [spell]="spell"
      [isSmall]="hoveringSpellIndex !== $index" [isGlowing]="
        selectedCard()?.index === $index ||
        spell.cost + extraCost() <= highlightCastableCardCost()
      " [extraCost]="extraCost()"></sw-spell-card>
    }
  </div>
  }
</div>