@if(relic(); as relicData) {
<div class="relic-indicator-container" [style.--rarity-color]="'var(--rarity-' + rarity() + ')'"
  [ngbTooltip]="relicTooltip" tooltipClass="tooltip-normalize tooltip-relic">
  <div class="relic-sprite">
    <sw-sprite [sprite]="relicData.sprite" [mod]="relicData.mod" [asset]="relicData.asset"></sw-sprite>
  </div>

  @if(stacks() > 0 && relicData.stackable) {
  <div class="relic-stack-value">
    {{ stacks() }}
  </div>
  }
</div>
}

<ng-template #relicTooltip>
  <sw-relic-card [relic]="relic()" [stacks]="stacks()"></sw-relic-card>
</ng-template>