@if(element(); as elementData) {
<div class="element-card-container" [style.--element-color]="'var(--element-' + elementData.key + ')'">
  <div class="name-row row">
    <div class="col-12">
      <div class="name">
        <sw-fit-text width="230px" height="44px">
          {{ elementData.name }}
        </sw-fit-text>
      </div>

      <div class="icon">
        <sw-sprite [spritable]="elementData" [size]="32"></sw-sprite>
      </div>
    </div>
  </div>

  <div class="description-row row">
    <div class="col-12">
      <div class="description">
        {{ formattedDescription }}
      </div>
    </div>
  </div>

  <div class="interactions-row row">
    <div class="col-12">
      <div class="interactions">
        @for(interaction of allInteractions(); track interaction) {
        <div class="interaction" [style.--interaction-index]="$index">
          <sw-sprite [spritable]="interaction" [size]="16"></sw-sprite>
        </div>
        }
      </div>
    </div>
  </div>
</div>
}